<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <header class="row">
    <div class="col-12">
      <span>{{ title }}</span>
    </div>
  </header>
  <div class="row">
    <div class="col-12 col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-12 col-md-4">
      <app-newsletter></app-newsletter>
    </div>
  </div>
  <footer class="row">
    <div class="col-12">
      <hr>
      <p>Copyright &copy; 2019 Optize sp. z o.o.</p>
    </div>
  </footer>
</div>
